<div class="articles-index" style="margin-top: 11vh;">
<% @articles.each do |article| %>
  <div class= "article-index">
    <%= cl_image_tag article.cover.key%>
    <div class= "article-index-text">
      <h3><%= article.title %></h3>
      <p><%= article.resume %></p>
      <%= link_to "LIRE", article_path(article), class: "nav-button", id:"lire-button-index"%>
    </div>
  </div>
<% end %>
</div>
