<div class="articles-index" style="margin-top: 11vh;">
<% @articles.each do |article| %>
  <div class= "article-index">
    <%= cl_image_tag article.cover.key%>
    <div class= "article-index-text">
      <h3><%= article.title %></h3>
      <p><%= article.resume %></p>
      <%= link_to article_path(article) do %>
        <p id="button-lire">lire</p>
      <% end %>
    </div>
  </div>
<% end %>
</div>
