<div class="article-show">
    <%= cl_image_tag @article.cover.key%>
    <h1><%= @article.title %></h1>
    <br>
    <p><%= @article.content%></p>
    <%= link_to articles_path do %>
      <button class='nav-button' id="article-show-button">Découvrir les autres articles</button>
    <% end %>
</div>

