<div class="banner">
    <div class="banner-left">
      <h4>Me Thibault</h4>
      <h1><strong>GAMBLIN</strong></h1>
      <h3>Avocat au barreau de Cherbourg</h3>
      <p>J’interviens principalement en matière contentieuse, c’est-à-dire quand il convient de faire valoir vos droits ou les défendre auprès des Juridictions judiciaires.</p>
      <p>Je peux également vous assister dans le domaine du conseil, c’est-à-dire dans la réalisation de certaines formalités juridiques ou la rédaction d’actes.</p>
    </div>
    <div class="banner-right">
      <img src="../assets/tib.jpg" alt=""/>
    </div>
</div>
