<div class="banner">
  <div class="container">
    <h1>Cabinet <strong>Gamblin</strong></h1>
    <p>avocat à la cour.</p>
    <a class="button" href="https://consultation.avocat.fr/consultation-cabinet/forms.php?hashid=32220e5c7d2713b2ef96" target="_blank">Me joindre</a>
  </div>
</div>
