<div class="banner">
  <div class="container">
    <h1>Cabinet <strong>Gamblin</strong></h1>
    <p>vous accompagne dans vos démarches juridiques.</p>
    <a class="button" href="#">Me joindre</a>
  </div>
</div>
