<div class="footer">
  <div class="footer-left">
    <p>Me Thibault Gamblin<br>39, rue François La Vieille<br>50100 CHERBOURG EN COTENTIN<br>06 56 86 27 11<br>gamblin.thibault@avocat-conseil.fr</p>
  </div>
  <div class="footer-right">
    <%= image_tag("logotransparent.png", alt: "Avocat à Cherbourg – Cabinet Gamblin ")%>
    <a href="https://www.emrose.fr/">Réalisé par EmRose</a>
    <%= link_to "Mentions légales", mention_path, class: "mention" %>
  </div>
</div>
