<div class="footer">
  <p>Me Thibault Gamblin<br>35, Avenue Delaville<br>50100 CHERBOURG EN COTENTIN<br>02.33.78.04.01<br>gamblin.thibault@avocat-conseil.fr</p>
  <%= image_tag "logofooter.jpg" %>
  <a href="#" style="font-size: 12px">Made by EMMROSE</a>
</div>

