<div class="footer">
  <div class="footer-left">
    <p>Me Thibault Gamblin<br>35, Avenue Delaville<br>50100 CHERBOURG EN COTENTIN<br>02 33 78 04<br>gamblin.thibault@avocat-conseil.fr</p>
  </div>
  <%= link_to "mentions légales", mention_path, class: "mention" %>
  <%= image_tag "logofooter.jpg" %>
  <a href="https://www.emrose.fr/" style="font-size: 15px">Réalisé par EmRose</a>
</div>

