<div class="footer">
  <div class="footer-left">
    <p>Me Thibault Gamblin<br>35, Avenue Delaville<br>50100 CHERBOURG EN COTENTIN<br>02 33 78 04 01<br>gamblin.thibault@avocat-conseil.fr</p>
  </div>
  <div class="footer-right">
    <%= image_tag "logofooter.jpg" %>
    <a href="https://www.emrose.fr/">Réalisé par EmRose</a>
    <%= link_to "Mentions légales", mention_path, class: "mention" %>
  </div>
</div>
