<div class="footer">
  <div class="footer-address">
    <p>Me Thibault Gamblin<br>35, Avenue Delaville<br>50100 CHERBOURG EN COTENTIN<br>02.33.78.04.01.<br>gamblin.thibault@avocat-conseil.fr</p>
  </div>
  <div class="footer-links">
    <div class="footer-links-top">
      <%= link_to new_user_session_path do %>
        <%= image_tag "logo_hugo4.png" %>
      <% end %>
      <img src="logo_hugo4.png" alt="">
    </div>
    <a href="#" style="font-size: 12px">Made by EMMROSE</a>
  </div>
</div>

