<div class="footer">
  <div class="footer-left">
    <p>Me Thibault Gamblin<br>35, Avenue Delaville<br>50100 CHERBOURG EN COTENTIN<br>gamblin.thibault@avocat-conseil.fr</p>
    <p>02 33 78 04 01</p>
  </div>
  <%= image_tag "logofooter.jpg" %>
  <a href="#" style="font-size: 12px">Réalisé par EmRose</a>
</div>

