<div class="navbar navbar-expand-sm navbar-light navbar-lewagon fixed-top">
  <%= link_to root_path, class: "navbar-brand" do %>
    <%= image_tag "logo_hugo4.png" %>
    <% end %>

  <div>
    <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <%= link_to "Contact", href= "https://www.meetlaw.fr/annuaire/membre-Maitre-Thibault-GAMBLIN-1690.htm", target: "_blank", class: "nav-button" %>
        </li>
    </ul>
  </div>
</div>
