<% @title="Avocat à Cherbourg - Maître Gamblin Avocat" %>
<% @description="raisons de recourir aux services d'un avocat spécialisé en droit de la famille sont donc nombreuses:
divorce, filiation, adoption, pension alimentaire, droit de garde, successions, et encore bien d autres."%>
<div class="pagefamille">
  <h1>Avocat à Cherbourg intervenant en le droit de la famille</h1>
  <br>
  <p>Le <b>droit de la famille</b> est une branche du droit civil, qui, comme son nom l'indique, régit les différentes <b>relations
  juridiques entre les membres d'une même famille</b>, qu'ils soient unis par un <b>lien de parenté, un mariage, ou une
  adoption</b>.
  Les raisons de recourir aux services d'un <b>avocat spécialisé en droit de la famille</b> sont donc nombreuses : <b>divorce,
  filiation</b>, adoption, pension alimentaire, <b>droit de garde</b>, successions, et encore bien d'autres. </p>
  <br>
  <h2> Maître Thibaut Gamblin : un avocat intervenant en matière de divorce à Cherbourg</h2>
  <p>Depuis l’adoption des lois du 26/05/2004 et 23/03/2019, la procédure de divorce est largement simplifiée, moins
  longue, et surtout moins conflictuelle.
  La loi de 2004 a permis à de nouvelles formes de divorce de voir le jour :
  <li>
    Le divorce par consentement mutuel, qui grâce à la loi du 18/11/2016, ne nécessite plus de <b>passage devant
    les tribunaux</b>. Toutes les démarches sont effectuées par les avocats des deux parties, qui rédigent une
    <b>convention de divorce</b> reprenant les conditions fixées par les époux entre eux.
  </li>
  <li>
    Le <b>divorce pour altération définitive du lien conjugal</b>, il faut seulement que le demandeur prouve une
    <b>séparation de fait</b> depuis 1 ans. Le divorce sera ainsi prononcé, et ce, quelle que soit la volonté du conjoint.
  </li>
  <li>
    Le <b>divorce par acceptation du principe de la rupture du mariage</b>. Les conjoints sont tous deux d'<b>accord pour divorcer</b>, mais des litiges persistent sur les conséquences du divorce. Ces litiges peuvent être liés à
  une <b>pension alimentaire</b>, le <b>droit de garde des enfants</b>, une <b>prestation compensatoire</b>, la <b>répartition des
  biens</b> du couple, etc.
  </li>
  <li>
  Le divorce pour faute perdure, mais les conséquences financières ont été allégées.
  </li>

  <h2> Pour vos litiges liés aux conséquences d'une séparation, votre avocat vous accompagne</h2>
  <br>
  <p>Outre la <b>répartition des biens</b>, un des sujets occasionnant le plus de <b>litiges au sein d'un couple séparé</b> est lié aux
  enfants.
  Ainsi, il n'est pas rare de voir des parents se disputer <b>la garde des enfants</b>, ou le montant de la <b>pension alimentaire</b>
  par exemple.</p>
  <h3>Autorité parentale</h3>
  <p>Les décisions concernant les enfants doivent être prises conjointement par les parents, or, dans certaines situations,
  un juge aux affaires familiales pourra ordonner que l'<b>autorité parentale soit retirée</b> à un parent défaillant.
  <b>Pensions alimentaires</b>.
  Suite à une séparation, une <b>pension alimentaire </b>(contribution à l’entretien et l’éducation de l’enfant) doit être
  versée au parent en charge des enfants. Le JAF fixe son montant en prenant en compte les revenus des parents, et
  les besoins des enfants.</p>
  <br>
  <h3> Prestation compensatoire</h3>
  <p>Elle est destinée au conjoint, qui, suite au divorce, connaît une baisse importante de son niveau de vie. Son montant
  est fixé par le juge en prenant en compte les revenus de chacun des époux, leur état de santé, et même leur âge. </p>
  <br>
  <h3> Filiation et adoption</h3>
  <p>Lorsqu'un homme refuse de reconnaître son enfant, il est possible de mener une <b>action en recherche de paternité</b>.
  Un test ADN est indispensable, il constitue une preuve irréfutable de paternité. Cette recherche permet à l'enfant
  d'<b>obtenir les mêmes droits qu'un enfant reconnu</b> par son père.
  La <b>reconnaissance de paternité</b> est faite en mairie par le père. Il est possible de <b>contester une reconnaissance de
  paternité<b> s'il existe des motifs légitimes, comme par exemple une reconnaissance mensongère.
  <br>
  Dans le <b>cadre d'une adoption</b>, sachez qu'il en existe deux types :
  <li>L'<b>adoption simple</b>, ou l'enfant conserve sa filiation d'origine,</li>
  <li>L'<b>adoption plénière</b> qui annule la filiation de l'enfant avec sa famille d'origine.</li>
  <br>
  Maître Thibault Gamblin, <b>avocat intervenant en droit de la famille à Cherbourg</b>, vous conseille et vous
  accompagne lors de votre <b>procédure de divorce, de demande de pension alimentaire, de recherche de
  paternité, de contestation de paternité, de prestation compensatoire, successions</b>, etc.</p>
</div>
