<h1>Avocat à Cherbourg intervenant en le droit de la famille</h1>
<br>
<p>Le droit de la famille est une branche du droit civil, qui, comme son nom l'indique, régit les différentes relations
juridiques entre les membres d'une même famille, qu'ils soient unis par un lien de parenté, un mariage, ou une
adoption.
Les raisons de recourir aux services d'un avocat spécialisé en droit de la famille sont donc nombreuses : divorce,
filiation, adoption, pension alimentaire, droit de garde, successions, et encore bien d'autres. </p>
<br>
<h2> Maître Thibaut Gamblin : un avocat intervenant en matière de divorce à Cherbourg</h2>
<p>Depuis l’adoption des lois du 26/05/2004 et 23/03/2019, la procédure de divorce est largement simplifiée, moins
longue, et surtout moins conflictuelle.
La loi de 2004 a permis à de nouvelles formes de divorce de voir le jour :
 Le divorce par consentement mutuel, qui grâce à la loi du 18/11/2016, ne nécessite plus de passage devant
les tribunaux. Toutes les démarches sont effectuées par les avocats des deux parties, qui rédigent une
convention de divorce reprenant les conditions fixées par les époux entre eux.
 Le divorce pour altération définitive du lien conjugal, il faut seulement que le demandeur prouve une
séparation de fait depuis 1 ans. Le divorce sera ainsi prononcé, et ce, quelle que soit la volonté du conjoint.
 Le divorce par acceptation du principe de la rupture du mariage. Les conjoints sont tous deux d'accord
pour divorcer, mais des litiges persistent sur les conséquences du divorce. Ces litiges peuvent être liés à
une pension alimentaire, le droit de garde des enfants, une prestation compensatoire, la répartition des
biens du couple, etc.
 Le divorce pour faute perdure, mais les conséquences financières ont été allégées.</p>
<h2> Pour vos litiges liés aux conséquences d'une séparation, votre avocat vous accompagne</h2>
<p>Outre la répartition des biens, un des sujets occasionnant le plus de litiges au sein d'un couple séparé est lié aux
enfants.
Ainsi, il n'est pas rare de voir des parents se disputer la garde des enfants, ou le montant de la pension alimentaire
par exemple. </p>
<h3> Autorité parentale</h3>
<p>Les décisions concernant les enfants doivent être prises conjointement par les parents, or, dans certaines situations,
un juge aux affaires familiales pourra ordonner que l'autorité parentale soit retirée à un parent défaillant.
Pensions alimentaires
Suite à une séparation, une pension alimentaire (contribution à l’entretien et l’éducation de l’enfant) doit être
versée au parent en charge des enfants. Le JAF fixe son montant en prenant en compte les revenus des parents, et
les besoins des enfants.</p>
<h3> Prestation compensatoire</h3>
<p>Elle est destinée au conjoint, qui, suite au divorce, connaît une baisse importante de son niveau de vie. Son montant
est fixé par le juge en prenant en compte les revenus de chacun des époux, leur état de santé, et même leur âge. </p>
<h3> Filiation et adoption</h3>
<p>Lorsqu'un homme refuse de reconnaître son enfant, il est possible de mener une action en recherche de paternité.
Un test ADN est indispensable, il constitue une preuve irréfutable de paternité. Cette recherche permet à l'enfant
d'obtenir les mêmes droits qu'un enfant reconnu par son père.
La reconnaissance de paternité est faite en mairie par le père. Il est possible de contester une reconnaissance de
paternité s'il existe des motifs légitimes, comme par exemple une reconnaissance mensongère.
Dans le cadre d'une adoption, sachez qu'il en existe deux types :
- L'adoption simple, ou l'enfant conserve sa filiation d'origine ;
- L'adoption plénière qui annule la filiation de l'enfant avec sa famille d'origine.
Maître Thibault Gamblin, avocat intervenant en droit de la famille à Cherbourg, vous conseille et vous
accompagne lors de votre procédure de divorce, de demande de pension alimentaire, de recherche de
paternité, de contestation de paternité, de prestation compensatoire, successions, etc.</p>
