<% @title="Cabinet d’avocat à Cherbourg" %>
<div class="cabinet">
  <h1>Mon Cabinet</h1>
  <h3>Accessibilité</h3>
  <p><a href="https://www.gamblin-avocat.com/" style="font-weight: bold; color: #f4f4f4;">Avocat à Cherbourg</a>, je partage des locaux avec deux Consœurs, Maître Constance LANIECE et Maître Marion BERNARD.</p>
  <p>Le Cabinet dispose d’une salle de réunion et est accessible aux personnes à mobilité réduite.</p>
  <br>
  <div class="section-cabinet">
    <p>Le Cabinet se situe au <br><strong>35 Avenue Delaville 50100 CHERBOURG</strong>.</p>
    <img src="../assets/plan.jpg" alt="">
    <br>
    <p>Vous pouvez stationner gratuitement votre véhicule sur les parkings se trouvant autour du Cabinet.</p>
    <p>Le cabinet est également desservi par les transports en commun :</p>
    <li>Les bus de ville (arrêt Schumann desservant l’ensemble des lignes</li>
    <li>Gare ferroviaire et routière à 5 minutes à pied du Cabinet</li>
  </div>
  <br>
  <div class="section-cabinet">
    <p>Pour améliorer et optimiser la gestion de vos dossiers, j’ai recours à différents services :</p>
    <ul>
      <li>ECOSTAFF pour l’accueil téléphonique,</li>
      <li>AVOCAT.FR et MEETLAW pour la prise de rendez-vous en ligne,</li>
      <li>SECIB AIR pour la gestion sécurisée de vos données,</li>
      <li>ABI GROUP pour la reprographie.</li>
    </ul>
    <p>Mon standard téléphonique est joignable du lundi au vendredi de 8h00 à 20h00 au :</p>
    <i class="fas fa-phone" id="phone"> 02.33.78.04.01.</i>
    <p>L’accès au Cabinet se fait uniquement sur rendez-vous.</p>
    <p>Je peux également vous proposer des entretiens en visio.</p>
    <br>
    <%= link_to "PRENDRE RDV", href= "https://www.meetlaw.fr/annuaire/membre-Maitre-Thibault-GAMBLIN-1690.htm", target: "_blank", class: "nav-button", id:"buttonrdv"%>
  </div>
  <br>
  <div class="section-cabinet">
    <p>Je ne facture pas notre premier rendez-vous si vous me confier ensuite une mission au soutien de vos intérêts.</p>
    <p>Si notre rendez-vous se limite à une consultation orale, je vous facturerai la somme de 60 € TTC (pour un entretien de moins d’une heure) ou de 90 € TTC.</p>
    <p>Pour la suite de votre dossier et selon sa particularité, une convention d’honoraire sera systématiquement conclue entre nous avant toute intervention.</p>
    <p>J’accepte les dossiers à l’aide juridictionnelle.</p>
    <p>Je peux selon votre situation envisager des facilités de paiement de mes honoraires.</p>
  </div>
  <br>
  <div class="buttons-cabinet">
    <%= link_to "MON PROFIL", profil_path, class: "nav-button"%>
    <%= link_to "LIRE MES ARTICLES", articles_path, class: "nav-button"%>
  </div>
</div>
