<div class="cabinet">
  <h1>Mon Cabinet</h1>
  <h3>Accessibilité</h3>
  <p>Je partage des locaux avec deux Consœurs, Maître Constance LANIECE et Maître Marion BERNARD.</p>
  <p>Le Cabinet dispose d’une salle de réunion et est accessible aux personnes à mobilité réduite.</p>
  <br>
  <p>Il se situe au <br><strong>35 Avenue Delaville 50100 CHERBOURG</strong>.</p>
  <img src="../assets/plan.jpg" alt="">
  <br>
  <p>Vous pouvez stationner gratuitement votre véhicule sur les parkings se trouvant autour du Cabinet.</p>
  <p>Le cabinet est également desservi par les transports en commun :</p>
  <li>Les bus de ville (arrêt Schumann desservant l’ensemble des lignes</li>
  <li>Gare ferroviaire et routière à 5 minutes à pied du Cabinet</li>
  <br>
  <p>Mon standard téléphonique est joignable du lundi au vendredi de 8h00 à 20h00.</p>
  <p>L’accès au Cabinet se fait sur rendez-vous.</p>
  <p>Je peux également vous proposer des entretiens en visio.</p>
  <div class="buttons-cabinet">
    <%= link_to "MON PROFIL", profil_path, class: "nav-button"%>
    <%= link_to "LIRE MES ARTICLES", articles_path, class: "nav-button"%>
  </div>
</div>
