<div class="domaines">
  <h1>Mes domaines d’intervention</h1>
  <span id="famille"></span>
  <br>
  Je peux vous assister dans les domaines suivants :</p>
  <div class="domaine">
    <h3>Droit de la famille et du patrimoine</h3>
    <ul>
      <li>Divorce</li>
      <li>Sortie d’indivision,</li>
       <li>Succession,</li>
       <li>Mode de résidence des enfants et contribution à l’entretien et l’éducation des enfants,</li>
       <span id="civil"></span>
       <li>Pensions alimentaires,</li>
       <li>Adoption.</li>
       <li>...</li>
    </ul>
  </div>
  <br>
  <div class="domaine">
    <h3>Droit civil</h3>
    <ul>
      <li>Action en paiement</li>
      <li>Action en responsabilité</li>
      <li>Immobilier et construction,</li>
      <li>Baux d’habitation (paiement, expulsion, réparations locatives),</li>
      <li>Droit bancaire,</li>
      <li>Droit de la consommation,</li>
      <li>Surendettement,</li>
      <li>Préjudice corporel.</li>
      <li>...</li>
      <span id="penal"></span>
    </ul>
  </div>
  <br>
  <div class="domaine">
    <h3>Droit pénal</h3>
    <ul>
      <li>Tribunal de police, Tribunal correctionnel et Cour d’assise,</li>
      <li>Droit routier,</li>
      <li>Garde à vue,</li>
      <li>Ordonnance et composition pénale,</li>
      <span id="commercial"></span>
      <li>Assistance à victime et auteur d’infraction.</li>
      <li>...</li>
    </ul>
  </div>
  <br>
  <div class="domaine">
    <h3>Droit commercial</h3>
    <ul>
      <li>Action en paiement,</li>
      <li>Procédure collective (sauvegarde, redressement et liquidation judiciaire) en l’absence de salarié,</li>
      <li>Baux commerciaux.</li>
      <li>...</li>
    </ul>
  </div>
  <br>
  <%= link_to "Retourner à l'Accueil", root_path, class: "nav-button "%>

</div>
