  <div class= "specialities">
    <br>
    <h1>Mes spécialités</h1><br>
    <div class= "speciality">
      <img src="assets/pen.png" alt="">
      <h3>Droit de la famille</h3>
      <p>Divorce</p>
      <p>Sortie d’indivision</p>
      <p>Succession</p>
      <p>Mode de résidence des enfants & contribution à l’entretien et l’éducation des enfants</p>
      <p>Pensions alimentaires</p>
      <p>Adoption</p>
    </div>
    <div class= "speciality">
      <img src="assets/people.png" alt="">
      <h3>Droit civil</h3>
      <p>Action en paiement</p>
      <p>Action en responsabilité</p>
      <p>Immobilier et construction</p>
      <p>Baux d’habitation (paiement, expulsion, réparation locatives)</p>
      <p>Doir bancaire</p>
      <p>Droit de la consommation</p>
      <p>Surendettement</p>
      <p>Préjudice corporel</p>
    </div>
    <div class= "speciality">
      <img src="assets/court.png" alt="">
      <h3>Droit pénal</h3>
      <p>Tribunal de police, Tribunal correctionnel et Cour d’assise</p>
      <p>Droit routier</p>
      <p>Garde à vue</p>
      <p>Ordonnance et composition pénale</p>
      <p>Assistance à victime et auteur d’infraction</p>
    </div>
    <div class= "speciality">
      <img src="assets/court.png" alt="">
      <h3>Droit commercial</h3>
      <p>Action en paiement</p>
      <p>Procédure collective (sauvegarde, redressement et liquidation judiciaire) en l’absence de salarié</p>
      <p>Baux commerciaux</p>
    </div>
  </div>
  <br>
  <div class= "rubrique">
    <h1>Actualités</h1>
    <div id="header"></div> <!-- to draw a horizontal line -->
  </div>
  <div class ="articles">
    <div class= "article">
      <% @articles.each do |work| %>
        <%= link_to articles_path do %>
          <div class="article-top">
            <%= cl_image_tag article.cover.key, class: "cover"%>
            <div class="article-bottom">
              <h3><%= article.title %></h3>
              <p><%= article.resume %></p>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
  <br>
  <div class= "rubrique">
    <h1>présentation</h1>
    <div id="header"></div> <!-- to draw a horizontal line -->
  </div>
  <div class= "presentation">
    <div class= "presentation-left">
      <div class= "top">
        <img src="assets/profil.jpg" alt="" />
      </div>
      <div class= "bottom">
        <h3>Profil</h3>
        <p>Diplomé de l'université de Caen</p>
        <p>Barreaux</p>
        <p>Ceinture noire en blague</p>
      </div>
    </div>
    <div class= "presentation-right">
      <div class= "top">
        <img src="assets/devanture.jpg" alt="" />
      </div>
      <div class= "bottom">
        <img src="assets/plan.jpg" alt="" />
      </div>
    </div>
  </div>
