  <div class= "specialities">
    <br>
    <h1>Mes spécialités</h1><br>
    <div class= "speciality">
      <img src="assets/pen.png" alt="">
      <h3>Conseil en rédaction</h3>
    </div>
    <div class= "speciality">
      <img src="assets/people.png" alt="">
      <h3>Négociation & Conciliation</h3>
    </div>
    <div class= "speciality">
      <img src="assets/court.png" alt="">
      <h3>Contentieux Procédures</h3>
    </div>
  </div>
  <br>
  <div class= "rubrique"><h1>présentation</h1></div>
  <div class= "presentation">

  </div>
  <br>
  <div class= "rubrique"><h1>Actualités</h1></div>
  <div class ="articles">
    <div class= "article">
      <div class="top"></div>
      <div class="bottom"></div>
    </div>
  </div>

