<div class='container' style="margin-top: 11vh; padding-top: 32px;">
  <h3>Mentions légales</h3>
  <br>
  <p>Maître Thibault GAMBLIN, exerçant à titre individuel au 35, Avenue Delaville 50100 CHERBOURG EN COTENTIN,</p>
  <p>02.33.78.04.01 / gamblin.thibault@avocat-conseil.fr</p>
  <p>Inscrit au Barreau de CHERBOURG</p>
  <p>Enregistré sous le n° SIRET 808 999 387 00018 Directeur de la publication : Maître Thibault GAMBLIN</p>
  <br>
  <p>Editeur, conceptions graphique et technique, développement du site internet, ci-après :</p>
  <p>Emmanuel ROSE</p>
  <p>14 place de l'Hôtel de ville 92600 Asnières sur Seine</p>
  <p>Auto-entrepreuneur enregistré au Registre du Commerce et des Sociétés de Nanterre sous le numéro 893 088 559</p>
  <p>Email : emrose351@gmail.com - Téléphone : 0659777183</p>
  <br>
  <p>Hébergement du site internet, ci-après la société : </p>
  <p>Heroku (Salesforce - The Landmark @ 1 Market St. Suite 300 - San Francisco, CA 94105)</p>
</div>

