  <div class="profil">
    <div class="profil-top">
      <div class="profil-top-right">
        <h3>Maître Thibault GAMBLIN</h3>
        <h4>Avocat Indépendant</h4>
        <p>Droit de l'immobilier</p>
        <p>Droit de la famille, des personnes et de leur patrimoine</p>
        <p>Droit bancaire et boursier</p>
        <div class="buttons-profil">
          <%= link_to "MES DOMAINES D'INTERVENTION", domaine_path, class: "nav-button"%>
          <%= link_to "MON CABINET", cabinet_path, class: "nav-button"%>
          <%= link_to "LIRE MES ARTICLES", articles_path, class: "nav-button"%>
        </div>
      </div>
      <div class="profil-top-left">
        <img src="../assets/tib.jpg" alt=""/>
      </div>
    </div>
    <div class="profil-bottom">
      <div class="profil-bottom-first">
        <h3>Formations</h3>
        <li><strong>2013-2014</strong> : Obtention du Certificat d’Aptitude à la Profession d’Avocat (CAPA) à l’Ecole Des Avocats du Grand Ouest (EDAGO), promotion Dominique RAIMBOURG</li>
        <li><strong>2011-2012</strong> : Obtention de l’examen d’entrée au Centre Régional de formation Professionnelle des Avocats (CRFPA), à l’Institut d’études judiciaires de Caen</li>
        <li><strong>2010-2011</strong> : Obtention du Master 2 contentieux du droit privé à l’université de Caen</li>
        <li><strong>2008-2010</strong> : Obtention du Master 2 ingénierie patrimoniale à l’IUP banque assurance de Caen</li>
        <br>
      </div>
      <div class="profil-bottom-second">
        <h3>Expériences professionnelles</h3>
        <li><strong>2018 à aujourd’hui</strong> : Avocat exerçant à titre individuel</li>
        <li><strong>2014-2018</strong> : Elève-avocat, juriste puis Collaborateur en Cabinet d’avocats généraliste,</li>
        <li><strong>2013</strong> : Stagiaire en Juridiction, Office notarial et étude d’huissier de Justice,</li>
        <li><strong>2013</strong> : Stagiaire en Cabinet d’avocats (Droit des affaires et contentieux privé)</li>
        <li><strong>2011</strong> : Stagiaire en Cabinet d’avocat (Droit des personnes et de la famille, pénal, contentieux privé)</li>
        <li><strong>2010</strong> : Conseiller en gestion de patrimoine indépendant</li>
        <li><strong>2009-2010</strong> : Assistant d’un conseiller patrimonial</li>
        <br>
      </div>
      <div class="profil-bottom-third">
        <h3>Divers</h3>
        <li><strong>2020</strong> : Membre du conseil de l’ordre</li>
        <li><strong>2019</strong> : EMembre de la Table ronde française</li>
        <li><strong>2018</strong> : Membre du réseau d’affaires BNI</li>
      </div>
    </div>
  </div>
