  <div class="profil">
    <div class="profil-top">
      <div class="profil-top-right">
        <h3>Maître Thibault GAMBLIN</h3>
        <h6>Avocat Indépendant</h6>
        <p>Droit de l'immobilier</p>
        <p>Droit de la famille, des personnes et de leur patrimoine</p>
        <p>Droit bancaire et boursier</p>
      </div>
      <div class="profil-top-left">
        <img src="assets/profil.jpg" alt=""/>
      </div>
    </div>
    <div class="profil-bottom">
      <div class="profil-bottom-first">
        <h3>Formation</h3>
        <p>Prestation de serment en 2014</p>
        <p>Certificat d'Aptitude à la Profession d'Avocat (CAPA)</p>
        <p>Master en Contentieux Privé (2011)</p>
        <p>Master en Ingénierie Patrimoniale (2010)</p>
        <br>
        <p>Maître Thibault GAMBLIN est avocat à Cherbourg-en-Cotentin, il opère en droit bancaire, droit pénal, droit de l'immobilier, droit locatif, droit de la famille et divorce.
          En droit bancaire, il vous accompagne pour toutes problématiques liées aux procédures en responsabilité bancaire, en défense de l'emprunteur ou de la caution, en demande de délais de paiement ainsi que pour tous litiges relatifs au prêt bancaire. En droit pénal, Maître GAMBLIN, vous représente, que vous soyez auteur, prévenu ou victime, devant les différentes juridictions pénales tout au long de la phase d'enquête et de jugement, lors des comparutions immédiates, des gardes à vues ou encore des détentions provisoires.
          Par ailleurs, en droit de l'immobilier, il vous assiste pour tous dossiers relevant de la copropriété, de la construction, du droit locatif, des baux commerciaux, baux d'habitation, des fonds de commerce ainsi que des saisies et ventes immobilières.
          Enfin, Maître GAMBLIN vous conseille en droit de la famille, pour des questions de divorce amiable ou contentieux, du partage de successions entre ayants droit, du PACS, de la liquidation des indivisions, de la séparation, de la pension alimentaire, de la garde des enfants ou encore de l'adoption.
          A l'écoute, disponible et rigoureux, Maître Thibault GAMBLIN vous propose un premier rendez-vous non facturé si procédure s'ensuit.
          Pour plus d'informations ou pour prendre rendez-vous, nous vous invitons à contacter directement le cabinet par mail ou par téléphone.
        </p>
        <br>
      </div>
      <div class="profil-bottom-second">
        <h3>Informations</h3>
        <ul>
          <li>Premier rendez-vous non facturé</li>
          <li>Paiement en plusieurs fois</li>
          <li>Aide juridictionnelle</li>
        </ul>
        <h3>Taux horaire :</h3>
        <p>Au forfait / Selon conventions d'honoraires</p>
        <h3>Langues parlées</h3>
        <p>Français</p>
      </div>
    </div>
  </div>

