<div class="cols" style="margin-top: 100px;">
      <div class="col" ontouchstart="this.classList.toggle('hover');">
        <div class="container">
          <div class="front" style="background-image: url(assets/family2.jpg)">
            <div class="inner">
              <p>Droit de la famille</p>
            </div>
          </div>
          <div class="back">
            <div class="inner">
              <p>Divorce</p>
              <p>Sortie d’indivision</p>
              <p>Succession</p>
              <p>Mode de résidence des enfants & contribution à l’entretien et l’éducation des enfants</p>
              <p>Pensions alimentaires</p>
              <p>Adoption</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col" ontouchstart="this.classList.toggle('hover');">
        <div class="container">
          <div class="front" style="background-image: url(assets/civil.jpg)">
            <div class="inner">
              <p>Droit civil</p>
            </div>
          </div>
          <div class="back">
            <div class="inner">
              <p>Action en paiement</p>
              <p>Action en responsabilité</p>
              <p>Immobilier et construction</p>
              <p>Baux d’habitation (paiement, expulsion, réparation locatives)</p>
              <p>Droit bancaire</p>
              <p>Droit de la consommation</p>
              <p>Surendettement</p>
              <p>Préjudice corporel</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col" ontouchstart="this.classList.toggle('hover');">
        <div class="container">
          <div class="front" style="background-image: url(assets/hammer.jpg)">
            <div class="inner">
              <p>Droit pénal</p>
            </div>
          </div>
          <div class="back">
            <div class="inner">
              <p>Tribunal de police, Tribunal correctionnel et Cour d’assise</p>
              <p>Droit routier</p>
              <p>Garde à vue</p>
              <p>Ordonnance et composition pénale</p>
              <p>Assistance à victime et auteur d’infraction</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col" ontouchstart="this.classList.toggle('hover');">
        <div class="container">
          <div class="front" style="background-image: url(assets/commercial.jpg)">
            <div class="inner">
              <p>Droit commercial</p>
            </div>
          </div>
          <div class="back">
            <div class="inner">
              <p>Action en paiement</p>
              <p>Procédure collective (sauvegarde, redressement et liquidation judiciaire) en l’absence de salarié</p>
              <p>Baux commerciaux</p>
            </div>
          </div>
        </div>
      </div>
</div>


