.articles {
  // LINEAR GRADIENT
  background: #000000;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #434343, #000000);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #434343, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
  padding: 16px;
}
.article {
  display: flex;
  flex-direction: column;
  height: 36vh;
  width: 20vh;
  background-color: transparent;
  border: solid 1px white;
  border-radius: 4px;
  color: white;
  font-weight: bold;
  box-shadow: 0px 0px 7px rgba(255,255,255,0.6);
  position:relative;
  img {
    height: 64%;
    widows: 100%;
  }
  h5 {
    text-align: center;
    font-weight: bold;
    margin-bottom: inherit;
    font-size: 1.1rem;
  }
  p {margin-bottom: 0px; font-size: 0.9rem;}
  #button-lire {
    position: absolute;
    bottom: 4px; right: 8px;
    background: white;
    color: #2B2B2B;
    padding: 1px 6px 1px 6px;
    border-radius: 4px;
    font-size: 12px;
  }
}
//ARTICLE INDEX PAGE
.articles-index {
  padding: 16px;
  background: #000000;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #434343, #000000);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #434343, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}


.article-index {
  height: 20vh;
  margin-bottom: 16px;
  border: solid 1px white;
  border-radius: 4px;
  img {height: 100%;}
  display: flex;
  flex-direction: row;
  position: relative;
  #button-lire {
    position: absolute;
    bottom: 4px; right: 8px;
    background: white;
    color: #2B2B2B;
    padding: 1px 6px 1px 6px;
    border-radius: 4px;
    font-size: 12px;
  }
  .article-index-text {
    color: white;
    display: flex;
    flex-direction: column;
  }
}

// SHOW FOR EACH ARTICLE

.article-show {
  background: #000000;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #434343, #000000);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #434343, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  display: flex;
  flex-direction: column;
  padding: 16px;
  color: white;
  img {
    height: 28vh;
    width: auto;
    margin-bottom: 16px;
  }
  #article-show-button {
    width: 100%;
  }
}


// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .articles {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .articles {
    grid-template-columns: 1fr 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .articles {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .articles {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding-left: 72px;
  }
  .article {
    width: 33vh;
    height: 50vh;
    h5 {font-size: 1.5rem;}
    p {font-size: 1.1rem;}
    box-shadow: 0;
    transform: scale(0.95);
    transition: box-shadow 0.5s, transform 0.5s;
    &:hover {
      transform: scale(1);
      box-shadow: 0px 0px 30px rgba(255,255,255,0.8);
    }
    #button-lire {
      bottom: 8px;
      right: 16px;
      padding: 4px 16px 4px 16px;
      font-size: 16px;
    }
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .articles {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
