.articles {
  // LINEAR GRADIENT
  background: #000000;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #434343, #000000);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #434343, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 12px;
  padding: 12px;
}
.article {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 44vh;
  width: 100%;
  background-color: transparent;
  border: solid 1px white;
  border-radius: 4px;
  color: white;
  font-weight: bold;
  box-shadow: 0px 0px 7px rgba(255,255,255,0.6);
  position: relative;
  #lire-button {
    position: absolute;
    bottom: 8px;
    font-size: 12px;
    padding: 4px 10px;
  }
  img {
    height: 64%;
    width: 100%;
  }
  h5 {
    text-align: center;
    font-weight: bold;
    margin-bottom: inherit;
    font-size: 1.1rem;
  }
  p {
    text-align: center; margin-bottom: 0px; font-size: 0.8rem;
  }
}
//ARTICLE INDEX PAGE
.articles-index {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 11vh;
  padding: 24px;
  background: #000000;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #434343, #000000);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #434343, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}


.article-index {
  height: 20vh;
  min-width: 320px;
  margin-bottom: 16px;
  border: solid 1px white;
  border-radius: 4px;
  img {height: 100%;}
  display: flex;
  flex-direction: row;
  position: relative;
  #button-lire {
    position: absolute;
    bottom: 4px; right: 8px;
    background: white;
    color: #2B2B2B;
    padding: 1px 6px 1px 6px;
    border-radius: 4px;
    font-size: 12px;
  }
  .article-index-text {
    color: white;
    display: flex;
    flex-direction: column;
  }
}

// SHOW FOR EACH ARTICLE

.article-show {
  background: #000000;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #434343, #000000);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #434343, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
  color: white;
  img {
    height: 28vh;
    width: auto;
    margin-bottom: 16px;
    border-radius: 8px;
  }
  #article-show-button {
    width: 100%;
  }
}

// Smallest device (iphone 5)
@media (min-width: 100px) and (max-width: 320px) {
  .article {
    #lire-button {
      position: absolute;
      bottom: 5px;
      font-size: 7px;
      padding: 4px 10px;
    }
    h5 {
      font-size: 0.9rem;
    }
    p {
      text-align: center; margin-bottom: 0px; font-size: 0.6rem;
    }
  }
}
// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .articles {
    grid-template-columns: 1fr 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 560px) {
  .articles-index {
    margin-top: 23vh;
  }
  .article-index {
    height: 45vh;
    width: 80%;
  }
  .articles {
    grid-template-columns: 1fr 1fr;
  }
  .article {
    height: 80vh;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .articles {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .article-index {
    width: 60%;
  }
  .article {
    height: 80vh;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .articles-index {
    margin-top: 11vh;
  }
  .articles {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding-left: 36px;
  }
  .article {
    width: 40vh;
    height: 50vh;
    h5 {font-size: 1.4rem;}
    p {font-size: 1.0rem;}
    box-shadow: 0;
    transform: scale(0.95);
    transition: box-shadow 0.5s, transform 0.5s;
    &:hover {
      transform: scale(1);
      box-shadow: 0px 0px 30px rgba(255,255,255,0.8);
    }
    #button-lire {
      bottom: 8px;
      right: 16px;
      padding: 4px 16px 4px 16px;
      font-size: 16px;
    }
  }
  .article-show {
    padding: 64px;
    img {
      height: 28vh;
      width: 33%;
      margin-bottom: 16px;
      align-items: center;
    }
    #article-show-button {
      width: 300px;
      margin-top: 32px;
    }
  }
  .article-index {
    width: 70%;
    height: 30vh;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .articles {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
