.banner {
  background-size: cover;
  background-position: center;
  padding: 150px 0 40px 0;
  background: #000000;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #434343, #000000);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #434343, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.banner-left {
  padding-left: 32px;
  width: 50%;
  h1 {
    margin: 0;
    color: white;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    font-size: 64px;
    font-weight: bold;
  }
  h3 {
    font-size: 32px;
    color: white;
    opacity: .7;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  }
  h4 {
    font-size: 32px;
    color: white;
    opacity: .7;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    margin-bottom: inherit;
  }
  p {
    color: white;
    opacity: .7;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    margin-bottom: inherit;
  }
}
.banner-right {
  padding-right: 32px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
 img {
  height: 342px;
  width: 240px;
  border-radius: 12px;
 }
}


  // Smallest device
  @media (min-width: 100px) and (max-width: 560px) {
    .banner-left {
      padding-left: 16px;
      padding-right: 16px;
      width: 100%;
      margin-top: 22vh;
      z-index: 2;
      p {
        text-align: justify;
      }
    }
    .banner-right {
      position: absolute;
      top: 15vh;
      right: 0px;
      padding-right: 20px;
     img {
      height: 240px;
      width: 160px;
      border-radius: 12px;
      z-index: 1;
     }
    }
  }
  // // Small devices (landscape phones, 576px and up)
  @media (min-width: 561px) and (max-width: 991px){
    .banner-right {
      padding-right: 32px;
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
     img {
      height: 300px;
      width: 200px;
      border-radius: 12px;
     }
    }
  }
  // // Medium devices (tablets, 768px and up)
  // @media (min-width: 768px) {
  //  }

  // // Large devices (desktops, 992px and up)
  @media (min-width: 992px) {
    .banner h1 {
      margin-bottom: 8px;
    }
  }

  // // Extra large devices (large desktops, 1200px and up)
  // @media (min-width: 1200px) {
  //
