.nav-button {
  a {color: white !important;}
  padding: 10px;
  background-color: transparent;
  border-radius: 20px/50px;
  border: 4px solid white;
  color: white;
  cursor: pointer;
  text-decoration: none;
  justify-content: center;
  &:hover {
    background: white;
    text-decoration: none;
    color: black;
    font-weight: bold;
  }
}
