.cabinet {
  margin-top: 11vh;
  padding: 16px;
  color: white;
  p {text-align: justify; }
  // LINEAR GRADIENT
  background: #000000;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #434343, #000000);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #434343, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  img {
    height: 30vh;
    width: 100%;
    margin-bottom: 32px;
    border-radius: 6px;
  }
}
#phone { margin-left: 37%;}
.buttons-cabinet {
  margin-top: 16px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.section-cabinet {
  padding: 16px;
  border: solid 2px white;
  box-shadow: 0px 0px 7px rgba(255,255,255,0.6);
  max-width: 832px;
  i {margin-left: 20%; margin-bottom: 5%;font-weight: bold; font-size: 24px;}
  p {text-align: left; }
}

#buttonrdv { margin-left: 37%; }
// Mediuym devices
@media (min-width: 100px) and (max-width: 815px) {
  .cabinet {
    img {
      height: 70vh;
    }
  }
  #phone { margin-left: 20%;}
  #buttonrdv { margin-left: 30%; }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .cabinet {
    margin-top: 10vh;
    padding: 48px;
  img {
    height: 30vh;
    width: 50%;
    margin-bottom: 32px;
  }
  .buttons-cabinet {
    width: 50%;
  }
  }
}
