
  // img {
  //   width: 80px;
  //   height: 80px;
  //   position: absolute;
  //   top: 2px; right: 6px;
  // }


.footer {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 140px;
  padding: 0px 50px;
  color: rgba(0,0,0,0.3);
  p, a {font-size: 1.0rem; color: black;}
  a {
    i {color: red;}
    &:hover {text-decoration: none;}
  }
}
