.footer {
  background: #000000;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #434343, #000000);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #434343, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  display: flex;
  justify-content: space-between;
  height: 150px;
  padding: 0px 16px;
  color: rgba(0,0,0,0.3);
  position: relative;
  p {
    text-align: left;
    color: white;
    font-weight: bold;
  }
  a {
    color: white;
    opacity: 0.8;
    text-decoration: none;
    font-size: 24px;
    padding: 0px 10px;
    position: absolute;
    bottom: 2px; right: 116px;
  }
  img {
    width: 80px;
    height: 80px;
    position: absolute;
    top: 2px; right: 2px;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .footer {
    padding: 24px 72px 16px 64px;
    img {
      top: 32px; right: 80px;
    }
    a {
      font-size: 32px;
      padding: 0px 0px;
      position: absolute;
      bottom: 8px; right: 80px;
    }
  }
}
