.profil {
  margin-top: 8vh;
  color: white;
  background: #000000;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #434343, #000000);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #434343, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.profil-top {
  height: 36vh;
  padding: 32px 8px 16px 8px;
  display: flex;
  flex-direction: space-between;
}
.profil-top::after {
  content: '';
  position: absolute;
  height: 4px;
  background-color: white;
  width: 33%;
  top: 340px;
  left: 33%;
}
.profil-top-left {
  width: 45%;
  img {
    height: 160px;
    width: 132px;
    border-radius: 50%;
    box-shadow: 0px 0px 7px rgba(255,255,255,0.6);
  }
}

.profil-top-right {
  width: 70%;
  display: flex;
  flex-direction: column;
  font-weight: bold;
  p { margin-bottom: inherit;}
  h3, h6 {font-weight: bold;}
}
.profil-bottom {
  display: flex;
  flex-direction: column;
  padding: 8px 16px 16px 16px;
  p { margin-bottom: inherit;}
  h3 {font-weight: bold;}
}
.profil-bottom-first {
  text-align: justify;
}
.profil-bottom-first::after {
  content: '';
  position: absolute;
  height: 4px;
  background-color: white;
  width: 33%;
  top: 776px;
  left: 33%;
}
.profil-bottom-second {

}
.profil-bottom-second::after {
  content: '';
  position: absolute;
  height: 4px;
  background-color: white;
  width: 33%;
  top: 1260px;
  left: 33%;
}
