.profil {
  margin-top: 13vh;
  color: white;
  background: #000000;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #434343, #000000);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #434343, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.profil-top {
  height: 46vh;
  padding: 32px 8px 16px 8px;
  display: flex;
  flex-direction: space-between;
  position: relative;
  .profil-top::after {
    content: '';
    position: absolute;
    height: 4px;
    background-color: white;
    width: 33%;
    bottom: 0px;
    left: 33%;
  }
}
.profil-top-left {
  display: flex;
  justify-content: flex-end;
  width: 45%;
  img {
    height: 160px;
    width: 132px;
    border-radius: 50%;
    box-shadow: 0px 0px 7px rgba(255,255,255,0.6);
  }
}

.profil-top-right {
  width: 63%;
  display: flex;
  flex-direction: column;
  font-weight: bold;
  p { margin-bottom: inherit;}
  h3, h6 {font-weight: bold;}
}
.profil-bottom {
  display: flex;
  flex-direction: column;
  padding: 8px 16px 16px 16px;
  p { margin-bottom: inherit;}
  h3 {font-weight: bold;}
  .profil-bottom-first {
    text-align: justify;
  }
  .profil-bottom-second {
    text-align: justify;
  }
}


.buttons-profil {
  margin-top: 16px;
  width: 163%;
  display: flex;
  justify-content: flex-start;
}

// Smallest device
@media (min-width: 100px) and (max-width: 375px) {
  .profil {
    margin-top: 9vh;
  }
  .buttons-profil {
    margin-top: 16px;
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  .profil-top {
    height: 60vh;
  }
  #button-profil-top {
    font-size: 0.7rem;
    margin-right: 16px;
  }
}
// Smallest device
@media (min-width: 100px) and (max-width: 812px) {
  .profil-top {
    height: 40vh;
  }
  .profil-top::after {
    content: '';
    position: absolute;
    height: 4px;
    background-color: white;
    width: 33%;
    bottom: 0px;
    left: 33%;
  }
  #button-profil-top {
    margin-right: 8px;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {

}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {

}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .profil-top {
    height: 50vh;
    padding: 40px 40px 16px 40px;
    .buttons-profil {
      width: 100%;
    }
  }
  .profil-top-right {
    width: 63%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  #button-profil-top {
    margin-right: 16px;
  }
  .profil-top-left {
    width: 45%;
    img {
      height: 220px;
      width: 40%;
      border-radius: 10%;
      box-shadow: 0px 0px 7px rgba(255,255,255,0.6);
    }
  }
  .profil-top::after {
    content: '';
    position: absolute;
    height: 4px;
    background-color: white;
    width: 33%;
    bottom: 0px;
    left: 33%;
  }
  .profil-bottom {
    padding: 20px 40px 20px 40px;
  }

  .profil-bottom-second {
    padding-top: 20px;
  }

  .profil-bottom-third {
    padding-top: 20px;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {

}
