.rubrique {
  display: flex;
  flex-direction: row;
  width: 100%;
  img {
    height: 200px;
    width: 200px;
  }
}

#header {
   height:25px;
   width:60%;
   background-color:black;
   border: solid 1px;
}
